.menu {
    background-image: url('https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?w=1480&t=st=1683014499~exp=1683015099~hmac=2a3c88ba5db721aee05118b747b11a34da8ee7fdaf7dd9cd75faa2319cf7e103');
    background-size: cover;
    background-position: center center;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    margin: 0 auto 20px;
    max-width: 80%;
    padding: 20px;
  }