/* .form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.inputWrapper label {
  margin-right: 10px;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  max-width: 30%;
}

.inputWrapper input[type="number"] {
  padding: 10px;
  font-family: serif;
  font-size: 16px;
  color: black;
  background-color: beige;
  border: none;
  border-radius: 5px;
  max-width: 30%;
} */

.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.inputWrapper label {
  margin-right: 10px;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  max-width: 30%;
}

.inputWrapper input[type="number"] {
  padding: 10px;
  font-family: serif;
  font-size: 16px;
  color: black;
  background-color: beige;
  border: none;
  border-radius: 5px;
  max-width: 30%;
}
@media (max-width: 480px) {
  .form {
    text-align: center;
   
  }
  .button {
    text-align: center;
   
    
  }

  .inputWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .inputWrapper label {
    margin-bottom: 10px;
    max-width: none;
  }

  .inputWrapper input[type="number"] {
    max-width: none;
    width: 100%;
    margin-bottom: 5px;
  }
}

